In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
#Определим количество выживших
Survived_df = df.query('Survived == 1')
Totall_s = len(Survived_df)
print(Totall_s)
Survived_0 = len (Survived_df.query('Age>0 & Age <=25'))
Survived_25 = len (Survived_df.query('Age>25 & Age <=50'))
Survived_50 = len (Survived_df.query('Age>50'))
Survived_non = Totall_s - Survived_0 - Survived_25 - Survived_50
print(Survived_0, Survived_25, Survived_50, Survived_non )

342
124 144 22 52

In [39]:
#Рассчитаем % выживших
print (round((Survived_0/Totall_s), 3)*100)
print (round((Survived_25/Totall_s), 3)*100)
print (round((Survived_50/Totall_s), 3)*100)
print (round((Survived_non/Totall_s), 3)*100)

36.3
42.1
6.4
15.2

In [53]:
#Вероятность что пассажир женщина
Female_df = df.query('Sex == "female"')
Totall_Pas = len(df)
Survived_Female_Tot = len(Female_df)
a = Survived_Female_Tot/Totall_Pas
print(a)

0.35241301907968575

In [48]:
#Вероятность что пассажир женщина - выжила
Survived_Tot_df = df.query('Survived == 1')
Survived_Tot = len(Survived_Tot_df)
b = Survived_Tot/Totall_Pas
print(b)

0.3838383838383838

In [50]:
Survived_Female = len (Female_df.query('Survived == 1'))
print(Survived_Female, Survived_Female_Tot)

233 314

In [68]:
c = Survived_Female/Survived_Female_Tot
result = ((c * a)/b)
print(round(result, 4)*100)

68.13